body, html {
    height: 100%;
    margin: 0;
}
.hero-image {
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.logo {
    background-image: url(assets/Logo-01.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.col-4{
    float: none;
}

h3{
    text-align: center;
}

h4{
    text-align: center;
}

body p{
    text-align: center;
}

.btn{
background-color: rgb(0, 0, 0);
color: white;
border: 2px solid white;
width: 300px;
border-radius: 50px;
}

.btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black; 
}

.buttons{
        margin: auto;
        width: 300px;
    }


.album{
    display: block;
    margin: auto;
    width: 300px;

}

.logo{
    background-color: black;
    width: 100%;
    height: 100%;
}


.backgroundtop{
    color: white;
    background-image: url(assets/backgroundtop.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.background{
    color: white;
    background-color: black;

}

.backgroundbottom{
    color: white;
    background-image: url(assets/backgroundbottom.png);
    background-size: 100% 100%;
    height: 300px;
    background-repeat: no-repeat;
}

.text{
    margin:10px;
}

.backgr-medium{
    color: white;
    background-image: none;
    background-color: black;
}

.col-12.col-sm{
padding: 0px;
}

/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }*/

/* Medium devices (tablets, 768px and up)*/


@media (min-width: 768px) { 
    .backgroundtop{
        background-image: none;
    }
    .backgroundbottom{
        background-image: none;
    }
}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/


.footer {
    color: white;
    width:100%;
    margin-top: 40px;
    padding: 1rem;
    background-color: black;
    text-align: center;
  }



  /*   TYPOGRAPHY   */

  @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
  @import url('https://fonts.googleapis.com/css?family=Heebo:100');
  @import url('https://fonts.googleapis.com/css?family=Montserrat:100');

h3 {
    font-family: 'Playfair Display', serif;
  }

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}

ol {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
}